@model Web.Areas.Admin.Models.MobitelDetaljiVM

@{
    ViewData["Title"] = "Detalji";
}

<h1>Detalji</h1>

<div>
    <h4>MobitelDodajVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proizvodjac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proizvodjac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KratkiOpis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KratkiOpis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Megapikseli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Megapikseli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram_Gb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram_Gb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tezina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tezina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rezolucija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rezolucija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DijagonalaEkrana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DijagonalaEkrana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Procesor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Procesor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Graficka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Graficka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StanjeNaSkladistu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StanjeNaSkladistu)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
