@using Microsoft.AspNetCore.Identity
@using Web.Areas.Customer.Models
@using DataAccessLayer
@using Web.Areas.Customer.Helpers
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mobitel Web Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Customer/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/7576b4ea0f.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/favicon.png">
    <link href="/lib/iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="border-color: gold!important">
            <div class="container ">
                <a class="navbar-brand" asp-area="Customer" asp-controller="Customer" asp-action="Index">Mobitel Web Shop</a>
                <div class="col-sm-3 col-md-3">
                    <form class="navbar-form" role="search" asp-area="Customer" asp-controller="Customer" asp-action="Index">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pretrazi mobitele" name="SearchName">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="oi oi-magnifying-glass" title="search" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav  ml-auto">

                        @if (SignInManager.IsSignedIn(User))
                        {




                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Customer" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Customer" asp-controller="Narudzba" asp-action="Narudzbe">Narudzbe</a>
                            </li>
                            <li class="nav-item border-right">
                                <form name="myform" asp-area="Customer" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                                    <a class="nav-link text-dark" href="javascript: submitform()">Odjava</a>

                                </form>
                            </li>



                        }
                        else
                        {

                            <li class="nav-item"><a class="nav-link text-dark" asp-area="Customer" asp-controller="Account" asp-action="Register">Registracija</a></li>
                            <li class="nav-item border-right"><a class="nav-link text-dark" asp-area="Customer" asp-controller="Account" asp-action="Login">Log in</a></li>

                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Customer" asp-action="Novosti">Novosti</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Customer" asp-action="Kontakt">Kontakt</a>
                        </li>

                        <li class="nav-item bg-primary rounded-lg" id="shakeme">
                            <a class="nav-link text-white" asp-area="Customer" asp-controller="Kosarica" asp-action="Index">
                                <span class="oi oi-basket" title="basket" aria-hidden="true"></span>
                                <span class="badge badge-light text-danger" id="notification_count">@LayoutHelpers.NotificationCount(Context)</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/Customer/js/ion.rangeSlider.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        function submitform() { document.myform.submit(); } 
    </script>
</body>
</html>
