@model IEnumerable<Web.Areas.Admin.Models.NarudzbaVM>

@using Web.Areas.Admin.Models

@{
    ViewData["Title"] = "Index";

}


<table class="table table-striped">
    <tr>
       
        <td>Datum</td>
 
        <td>Kontakt telefon</td>
        <td>Ukupna cijena</td>
        <td>Kupac</td>
        
        <td>Akcije</td>
    </tr>

    @foreach (var x in Model)
    {
<tr>

    <td>@x.Datum</td>
    <td>@x.KontaktTelefon</td>
    <td>@x.UkupnaCijena</td>
    <td>@x.kupac</td>

    <td>
        @Html.ActionLink("Detalji", "Detalji", new { id = x.Id }, new { @class = "btn btn-primary" })
    </td>
</tr>
    }


</table>




              