@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Web.Areas.Customer.Models.IndexViewModel
@{
}

<div class="row">

    <div class="col-lg-3 rounded">

        <div class="list-group">
            <form asp-area="Customer" asp-controller="Customer" asp-action="Index" method="get" id="sortingForm">
                <!-- Input and Submit elements -->
                <br />
                <select asp-for="ProizvodjacId" asp-items="Model.Proizvodjaci" class="form-control">
                    <option value="">Odaberite proizvodjaca</option>
                </select>
                <br />
                <h2 class="text-center">Vas budzet</h2>
                <input type="text" class="js-range-slider bg-primary" name="my_range" value=""
                       data-type="double"
                       data-min="0"
                       data-max="@Model.PriceTo"
                       data-grid="true"
                       prefix="KM" />

                <br />
                <div class="form-check text-center">
                    @Html.CheckBoxFor(x => x.PriceDesc, new { @class = "form-check-input" })
                    <label class="form-check-label" for="exampleCheck1">Cijena Opadajuca</label>
                </div>

                <br />
                <input type="submit" value="Sortiraj" class="btn btn-primary btn-block">
            </form>

        </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

        @*<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">

            </div>*@


        <div class="row">

            @foreach (var mobitel in Model.Mobiteli)
            {
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="card h-100" style="border-color:palegoldenrod!important">
                        <a asp-area="Customer" asp-controller="Mobitel" asp-action="Index" asp-route-id="@mobitel.Id">
                            <img class="card-img-top" src="@(mobitel.Slike.FirstOrDefault() ?? "/Customer/slike/iphone.jpg")" alt="">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a asp-area="Customer" asp-controller="Mobitel" asp-action="Index" asp-route-id="@mobitel.Id">@mobitel.Proizvodjac @mobitel.Naziv</a>
                            </h4>
                            @if (mobitel.Popust)
                            {
                                <h5 style="color:indianred">@mobitel.Cijena KM sa popustom</h5>
                            }
                            else
                            {
                                <h5>@mobitel.Cijena KM</h5>
                            }

                            <p class="card-text">@mobitel.KratkiOpis</p>
                        </div>

                        <div class="card-footer">
                            
                            <button class="btn btn-primary AddKosarica" mobitelId="@mobitel.Id">Dodaj <span class="oi oi-basket" title="basket" aria-hidden="true"></span></button>
                        </div>
                    </div>

                </div>
            }

        </div>
        <!-- /.row -->
        <div>
            <ul class="pagination">
                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @((i == Model.Page || (Model.Page == null && i == 1)) ? "active" : "")">
                        <a asp-area="Customer" asp-controller="Customer" asp-action="Index" asp-route-page="@i" asp-route-SearchName="@Model.SearchName" asp-route-ProizvodjacId="@Model.ProizvodjacId" asp-route-PriceDesc="@Model.PriceDesc" asp-route-my_range="@Model.my_range" class="page-link">@i</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->


@section scripts {

    <script>
        $(document).ready(function () {

            let my_range = $(".js-range-slider").data("ionRangeSlider");

            // 3. Update range slider content (this will change handles positions)
            my_range.update({
                from: "@(Model.sliderFrom == 0 ? 0 : Model.sliderFrom)",
                to: "@(Model.sliderTo == 0 ? Model.PriceTo : Model.sliderTo )"
            });


        $(".AddKosarica").on('click', function (e) {


            mobitelid = this.getAttribute("mobitelId")
            urldoakcije = "@Url.Action("Dodaj", "Kosarica", new { Area = "Customer" })";

            $.ajax({
                type: "GET",
                url: urldoakcije,
                data: { id: mobitelid},
                dataType: "text",
                success: function (msg) {
                    notificationcount = parseInt($("#notification_count").html());
                    notificationcount += 1;
                    $("#notification_count").html(notificationcount);
                    $("#shakeme").effect("bounce");
                },
                error: function (req, status, error) {

            }
    });
        });
        });

    </script>

}


