@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Web.Areas.Customer.Models.MobitelViewModel
@{
}

<div class="card">
    <div class="row">
        <aside class="col-sm-5 border-right">
            <article class="gallery-wrap">
                <div class="img-big-wrap">
                    <div> <a href="#"><img src="@(Model.Slike.FirstOrDefault() ?? "/Customer/slike/iphone.jpg")"></a></div>
                </div> <!-- slider-product.// -->
                <div class="img-small-wrap">
                    
                    @foreach (var path in Model.Slike)
                    {
                        <div class="item-gallery"> <img src="@path"> </div>
                    }

                    
                </div> <!-- slider-nav.// -->
            </article> <!-- gallery-wrap .end// -->
        </aside>
        <aside class="col-sm-7">
            <article class="card-body p-5">
                <h3 class="title mb-3">@Model.Naziv</h3>

                <p class="price-detail-wrap">
                    <span class="price h3 text-warning">
                        <span class="currency">KM </span><span class="num">@Model.Cijena</span>
                    </span>
                    <span>/po jedinici</span>
                </p> <!-- price-detail-wrap .// -->
                <dl class="item-property">
                    <dt>Opis</dt>
                    <dd>
                        <p>
                            @Model.Opis
                        </p>
                    </dd>
                </dl>
                <dl class="param param-feature">
                    <dt>Procesor</dt>
                    <dd>@Model.Procesor</dd>
                </dl>

                <dl class="param param-feature">
                    <dt>Megapikseli</dt>
                    <dd>@Model.Megapikseli</dd>
                </dl>

                <dl class="param param-feature">
                    <dt>Ram</dt>
                    <dd>@Model.Ram_Gb</dd>
                </dl>

                <dl class="param param-feature">
                    <dt>Tezina</dt>
                    <dd>@Model.Tezina g.</dd>
                </dl>

                <dl class="param param-feature">
                    <dt>Rezolucija</dt>
                    <dd>@Model.Rezolucija</dd>
                </dl>

                <dl class="param param-feature">
                    <dt>Dijagonala ekrana</dt>
                    <dd>@Model.DijagonalaEkrana</dd>
                </dl>

                <hr>
                
                
                <a href="#" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Dodaj u kosaricu </a>
            </article> <!-- card-body.// -->
        </aside> <!-- col.// -->
    </div> <!-- row.// -->
</div> <!-- card.// -->
</div>